* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.body {
  background-color: #051923;
  color: #ffffff;
}

.header {
  background-color: #00a8e8;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  /* padding: 60px;
  overflow: hidden;
   background: repeating-linear-gradient(
        to right,
          #4c79b4,
  #f65752 30px,
  #178545 30px,
  #11100d 10px */

  padding: 20px 10px;
  font-family: "Montserrat", sans-serif;
}
.heading  {
  text-align:left;
  font-size: 18px;
  /* margin-bottom: 10px; */
  padding: 2%;
  color:#ffffff;
}


#search {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  border:none;
  border-radius: 5px;
}

#searchWrapper {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border:none;
  border-radius: 5px;
  /* margin-left: 5%; */
  padding: 4%;
  margin-bottom: 40px;
}

input[type="text"] {
    font-family: "Montserrat", sans-serif;
     border:none;
  border-radius: 5px;
}

.formBox {
  display: flex;
  color: #ffffff;
  padding:4%;
  font-family: "Montserrat", sans-serif;
}

#episodes {
    font-family: "Montserrat", sans-serif;
}


select {
    font-family: "Montserrat", sans-serif;
    border:none;
     border-radius: 5px;
     padding:2%;
     margin-bottom: 40px;
}

option {
    font-family: "Montserrat", sans-serif;
    border:none;
     border-radius: 5px;
}
#root {
  color: #ffffff;
  background-color: #00a8e8;
  font-family: "Montserrat", sans-serif;
}
/* Add some padding inside the card container */
.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  background-color: #12b0ee; 
  padding: 4px 16px; 
  border-radius: 5px;
 
}

.card {
  /* Add shadows to create the "card" effect */
  justify-content: space-between;
  flex-wrap: wrap;
  width:auto;
  box-sizing: border-box;
  margin: 1 rem .25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #00a8e8;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



.title {
  color: #00a8e8;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}

.season {
  background-color: #00a8e8;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.paragraph {
  background-color: #00a8e8;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.image {
  border-radius: 4px;
}


/*TV Link*/
footer-div {
  border-radius: 4px;
}

footer {
  color: #ffffff;
  text-align: center;
}
/* .container {
display:flex;
flex: auto;
width: 50vw;
border-radius: 3px;
border-color:rgb(139, 61, 113);
border-style: solid;
} */

/* .cardContainer{
display: flex;
flex: auto;
background-color: darkgray;
width: 60vw;
border-color: rgb(21, 83, 54);
border-style: solid;
} */

/* 
.episode {
display:flex;
flex: auto;
background-color:rgb(230, 173, 227);
width: 80vw;
border-color: rgb(46, 0, 139);
border-style: solid;

}

.season {
display:flex;
flex: auto;
background-color:rgb(230, 173, 227);
width: 80vw;
border-color: rgb(46, 0, 139);
border-style: solid;
} 


.image {
  display: flex;
  flex: auto;
  background-color: dodgerblue;
  width: 80vw;
  border-color: rgb(21, 83, 54);
  border-style: solid;
}

.summary {
display:flex;
flex: auto;
background-color:rgb(230, 173, 227);
width: 80vw;
border-color: rgb(46, 0, 139);
border-style: solid;
} */
